<template>
  <div class="dice-container">
    <div class="dice-wrapper">
      <dice v-for="dice in this.dice" :ref="'dice_'+dice.diceId" :diceId="dice.diceId" :key="dice.diceId" :value.sync="dice.value" :held.sync="dice.held"></dice>
    </div>
    <button @click="doRoll" :disabled="!canRoll" class="roller-button">Roll the Dice</button>
  </div>
</template>

<script>

import Dice from "@/components/Dice.vue";

export default {
  name: "DiceRoller",
  components: { Dice },
  props: {
    roll: Number,
  },
  data: function() {
    return {
      dice: [
          { diceId: 0, value: 0 },
          { diceId: 1, value: 0 },
          { diceId: 2, value: 0 },
          { diceId: 3, value: 0 },
          { diceId: 4, value: 0 },
      ],
    };
  },
  created: function() {
  },
  computed: {
    canRoll: function() {
      return this.roll < 3;
    },
    result: function() {
      let result = [];

      this.dice.forEach((die) => {
        result.push(die.value);
      });

      return result;
    }
  },
  methods: {
    doRoll: function() {
      this.dice.forEach((dice) => {
        let diceId = 'dice_' + dice.diceId;
        this.$refs[diceId][0].doRoll();
      });

      this.$emit('dice-rolled', this.result);
    }
  },
}
</script>

<style scoped>
  .dice-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .roller-button {
    width: 100%;
    margin: 10px 0;
    padding: 5px;
  }
</style>