<template>
  <div class="dice" :id="diceId">
    <div class="value" :class="classes" @click="held = !held"></div>
    <input type="hidden" :value="value" @input="$emit('update:value', $event.target.value)">
    <input :id="'held_'+diceId" name="held" value="'held'" type="checkbox" v-if="canHold" :checked="isHeld" @click="held = !held"/><label :for="'held_'+diceId" v-if="canHold">Held</label>
  </div>
</template>

<script>
export default {
  name: "Dice",
  props: {
    diceId: Number,
    value: Number,
  },
  data: function () {
    return {
      held: this.held,
    }
  },
  created () {
    this.held = false;
  },
  computed: {
    roll: function () {
      return this.$parent.roll;
    },
    isHeld: function () {
      if (this.roll > 0) {
        return this.held;
      }
      return false;
    },
    canHold: function () {
      return this.value > 0;
    },
    classes: function () {
      return [ 'result-' + this.value ];
    },
  },
  methods: {
    doRoll: function() {
      if (this.roll === 0) {
        this.held = false;
      }
      if (this.held === false) {
        let outcome = Math.ceil( Math.random() * 6 );
        this.$emit('update:value', outcome);
      }
    },
  },
}
</script>

<style scoped>
.dice {

}

.value {
  width: 100px;
  height: 100px;
  background-size: 90%;
  background-position: center;
  background-repeat: no-repeat;
}

.result-0 {
  background-image: url("./../assets/0.svg");
}

.result-1 {
  background-image: url("./../assets/1.svg");
}

.result-2 {
  background-image: url("./../assets/2.svg");
}

.result-3 {
  background-image: url("./../assets/3.svg");
}

.result-4 {
  background-image: url("./../assets/4.svg");
}

.result-5 {
  background-image: url("./../assets/5.svg");
}

.result-6 {
  background-image: url("./../assets/6.svg");
}

</style>