<template>
  <div class="score-row">
    <label :for="type" class="row-label">{{ label }}</label>
    <input type="text" class="row-result" disabled="disabled" :value="value" :id="type">
    <button name="Add" class="row-button" :disabled="!isValid" @click="setScore">Add</button>
  </div>
</template>

<script>
export default {
  name: "ScoreRow",
  props: {
    rowId: Number,
    type: String,
    label: String,
  },
  data: function () {
    return {
      value: this.value,
    }
  },
  created () {
    this.value = 0;
  },
  computed: {
    roll: function () {
      return this.$parent.roll;
    },
    isValid: function () {
      if (this.value !== 0 || this.roll < 1) {
        return false;
      }

      switch (this.type) {
        case 'ones':
          return this.contains(1);
        case 'twos':
          return this.contains(2);
        case 'threes':
          return this.contains(3);
        case 'fours':
          return this.contains(4);
        case 'fives':
          return this.contains(5);
        case 'sixes':
          return this.contains(6);
        case 'pair':
          return this.hasNOfKind(2) > 0;
        case 'two_pair':
          return this.hasNOfKind(2) > 1;
        case 'triple':
          return this.hasNOfKind(3) > 0;
        case 'quadruple':
          return this.hasNOfKind(4) > 0;
        case 'house':
          return (this.hasNOfKind(2) > 0 && this.hasNOfKind(3) > 0);
        case 'small_straight':
          return (this.isSequential && this.contains(1));
        case 'large_straight':
          return (this.isSequential && this.contains(6));
        case 'yatzee':
          return this.hasNOfKind(5) > 0;
        case 'chance':
          return this.value === 0;
      }
      return false;
    },
    diceResults: function() {
      return Object.assign([], this.$parent.diceResult).sort();
    },
    occurrences: function() {
      let counts = [];

      for (let i = 0; i < this.diceResults.length; i++) {
        let num = this.diceResults[i];
        counts[num] = counts[num] ? counts[num] + 1 : 1;
      }

      return counts;
    },
    isSequential: function() {
      for (let i = 0; i < this.diceResults.length - 1; i++) {
        if (this.diceResults[i] !== this.diceResults[i+1] -1) {
          return false;
        }
      }

      return true;
    },
    score: function() {
      switch (this.type) {
        case 'ones':
          return this.getOccurrenceOfValue(1);
        case 'twos':
          return this.getOccurrenceOfValue(2) * 2;
        case 'threes':
          return this.getOccurrenceOfValue(3) * 3;
        case 'fours':
          return this.getOccurrenceOfValue(4) * 4;
        case 'fives':
          return this.getOccurrenceOfValue(5) * 5;
        case 'sixes':
          return this.getOccurrenceOfValue(6) * 6;
        case 'pair':
          return this.getBestValueOfNOccurrences(2);
        case 'two_pair':
          return this.getTotalValueOfOccurrences(2);
        case 'triple':
          return this.getBestValueOfNOccurrences(3);
        case 'quadruple':
          return this.getBestValueOfNOccurrences(4);
        case 'small_straight':
        case 'large_straight':
        case 'chance':
        case 'house':
          return this.diceResults.reduce((a, b) => {
            return a + b;
          });
        case 'yatzee':
          return 50;
      }

      return 0;
    }
  },
  methods: {
    contains: function (value) {
      let dice = this.diceResults;
      return dice.includes(value);
    },
    hasNOfKind: function (n) {
      let occurrences = 0;

      this.occurrences.forEach((occurrence) => {
        if ( occurrence === n ) {
          occurrences++;
        }
      });

      return occurrences;
    },
    getOccurrenceOfValue(value) {
      return this.occurrences[value];
    },
    getOccurrenceValues: function (occurrences) {
      let values = [];

      this.occurrences.forEach((occurrence, index) => {
        if ( occurrence === occurrences ) {
          values.push(index);
        }
      });

      return values.sort();
    },
    getTotalValueOfOccurrences(occurrences) {
      let total = 0;
      this.getOccurrenceValues(occurrences).forEach((value) => {
        total += value * occurrences;
      });

      return total;
    },
    getBestValueOfNOccurrences(occurrences) {
      let values = this.getOccurrenceValues(occurrences);

      return values.pop() * occurrences;
    },
    setScore: function() {
      this.value = this.score;
      this.$emit('score-set');
    }
  }
}
</script>

<style scoped>
.score-row {
  display: flex;
  width: 100%;
  margin-top: 5px;
  padding-top: 5px;
  border-top: 1px solid #333;
}

.row-label {
  display: inline-block;
  width: 40%;
  margin-right: 5%;
}

.row-result {
  width: 30%;
  margin-right: 5%;
}

.row-button {
  width: 15%;
}
</style>