<template>
  <div class="score-sheet">
    <score-row v-for="row in this.rows"
               :ref="row.type"
               :rowId="row.rowId"
               :key="row.rowId"
               :type="row.type"
               :label="row.label"
               v-on:score-set="scoreSet"
    >
    </score-row>
    <div class="score-total">{{ scoreTotal }}</div>
  </div>
</template>

<script>
import ScoreRow from "@/components/ScoreRow";

export default {
  name: "ScoreSheet",
  components: {ScoreRow},
  props: {
    roll: Number,
  },
  data: function () {
    return {
      rows: [
        {rowId: 1, type: 'ones', label: 'Ones'},
        {rowId: 2, type: 'twos', label: 'Twos'},
        {rowId: 3, type: 'threes', label: 'Threes'},
        {rowId: 4, type: 'fours', label: 'Fours'},
        {rowId: 5, type: 'fives', label: 'Fives'},
        {rowId: 6, type: 'sixes', label: 'Sixes'},
        {rowId: 7, type: 'bonus', label: 'Bonus'},
        {rowId: 8, type: 'pair', label: 'Pair'},
        {rowId: 9, type: 'two_pair', label: 'Two pairs'},
        {rowId: 10, type: 'triple', label: 'Three of a kind'},
        {rowId: 11, type: 'quadruple', label: 'Four of a kind'},
        {rowId: 12, type: 'house', label: 'House'},
        {rowId: 13, type: 'small_straight', label: 'Small straight'},
        {rowId: 14, type: 'large_straight', label: 'Large straight'},
        {rowId: 15, type: 'chance', label: 'Chance'},
        {rowId: 16, type: 'yatzee', label: 'Yatzee'},
      ],
    }
  },
  computed: {
    diceResult: function () {
      return this.$parent.diceResult;
    },
    scoreTotal: function () {
      let score = 0;

      console.log(this.$refs);
      this.rows.forEach((row) => {
        if (typeof this.$refs[row.type] !== 'undefined') {
          score += this.$refs[row.type][0].score;
          console.log(row.type, this.$refs[row.type]);
        }
      });

      return score;
    }
  },
  methods: {
    scoreSet: function () {
      this.$emit('score-set');
    }
  }
}
</script>

<style scoped>

</style>