<template>
  <div id="app">
    <dice-roller :roll="roll" v-on:dice-rolled="handleDiceRoll"/>
    <score-sheet :roll="roll" v-on:score-set="handleScoreSet"/>
  </div>
</template>

<script>
import DiceRoller from './components/DiceRoller.vue'
import ScoreSheet from "@/components/ScoreSheet";

export default {
  name: 'Yatzee',
  components: {
    DiceRoller,
    ScoreSheet
  },
  created () {
    this.diceResult = [0, 0, 0, 0, 0];
    this.roll = 0;
  },
  data: function () {
    return {
      diceResult: this.diceResult,
      roll: this.roll,
    }
  },
  methods: {
    handleDiceRoll(result) {
      this.diceResult = result;
      this.roll++;
    },
    handleScoreSet() {
      this.diceResult = [0, 0, 0, 0, 0];
      this.roll = 0;
    }
  }
}
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 20px;
}
</style>
